<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Deep Sky Body Search Results</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <!-- favicon -->
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}"/>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.js"></script>
</head>
<body th:style="'background-image:url(' + @{/images/pillarsHuge.jpg} + ');background-size: auto;'">
<header th:insert="header.html :: header"></header>
<div class="container" style="background-color:white;">
    <h1>Deep Sky Body Reference Material</h1>
    <hr>
    <h2>Descriptions</h2>

    <table border="1" class = "table table-dark table-hover table-responsive-md">
        <thead>
        <tr>
            <th>
                <a>Abbreviation</a>
            </th>
            <th>
                <a>Name</a>
            </th>
        </tr>
        </thead>
        <tbody>
        <!--        Iterate over the results with a forEach("th:each") -->
        <tr th:each="description : ${allDescriptions}">
            <td th:text="${description.abbreviation}"></td>
            <td th:text="${description.name}"></td>
        </tr>
        </tbody>
    </table>

    <hr>

    <a th:href = "@{/}"> Back to Deep Sky Body List</a>
</div>
<footer th:insert="footer.html :: footer"></footer>
</body>
</html>