<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:padding="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1">
    <title>Star Dec</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.js"></script>


</head>
<body th:style="'background-image:url(' + @{/images/pillarsHuge.jpg} + ');background-size: auto;'">
<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted" >
    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>Starry Decisis
                    </h6>
                    <p>
                        Spring Boot app to explore celestial objects and celestial bodies.
                        Data persistence with JPA/Hibernate, search functionality with Elasticsearch
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Technologies
                    </h6>
                    <p>
                        <a href="https://spring.io/projects/spring-boot" class="text-reset">Spring Boot</a>
                    </p>
                    <p>
                        <a href="https://www.elastic.co/" class="text-reset">Elasticsearch</a>
                    </p>
                    <p>
                        <a href="https://www.postgresql.org/" class="text-reset">Postgresql</a>
                    </p>
                    <p>
                        <a href="https://aws.amazon.com/" class="text-reset">AWS</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Github links
                    </h6>
                    <p>
                        <a class="github-button" href="https://github.com/BradleyPelton/stardec"
                           data-color-scheme="no-preference: dark; light: light; dark: dark;"
                           data-size="large" aria-label="Follow @BradleyPelton on GitHub">Github Repo Link</a>
                    </p>
                    <p>
                        <a class="github-button" href="https://github.com/BradleyPelton"
                           data-color-scheme="no-preference: dark; light: light; dark: dark;"
                           data-size="large" aria-label="Follow @BradleyPelton on GitHub">Follow @BradleyPelton</a>
                    </p>
                    <p>
                        <a class="github-button" href="https://github.com/BradleyPelton/stardec"
                           data-color-scheme="no-preference: dark; light: light; dark: dark;" data-icon="octicon-star"
                           data-size="large" aria-label="Star BradleyPelton/stardec on GitHub">Star</a>
                    </p>
                    <p>
                        <a class="github-button" href="https://github.com/BradleyPelton/stardec/fork"
                           data-color-scheme="no-preference: dark; light: light; dark: dark;"
                           data-icon="octicon-repo-forked" data-size="large" aria-label="Fork BradleyPelton/stardec on GitHub">Fork</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Useful links
                    </h6>
                    <p>
                        <a href="https://www.linkedin.com/in/bradleypelton/" class="text-reset">Linkedin</a>
                    </p>
                    <p>
                        <a href="https://github.com/bradleypelton" class="text-reset">Github</a>
                    </p>
                    <p>
                        <a href="https://leetcode.com/BradleyPelton/" class="text-reset">Leetcode</a>
                    </p>
                    <p>
                        <a href="/help" class="text-reset">Help</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Contact
                    </h6>
                    <p>
                        <a href = "mailto: bradleypelton@gmail.com">bradleypelton@gmail.com</a>
                    </p>
                    <p><i class="fas fa-phone me-3"></i> +1 (347)-832-1527 </p>
                    <p><i class="fas fa-home me-3"></i> San Francisco, CA, USA</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        "Astronomy compels the soul to look upwards and leads us from this world to another." - Plato
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->

</body>
</html>