<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:padding="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1">
    <title>Star Dec</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.js"></script>


</head>
<body th:style="'background-image:url(' + @{/images/pillarsHuge.jpg} + ');background-size: auto;'">
<header th:insert="header.html :: header"></header>

<div class="container my-2" style="background-color:white;" >
    <h1><b><u>Star Dec</u></b></h1>
    <hr>
    <h5>What is Star Dec?</h5>
    <ul>
        <li>Star Dec is a <a href="https://en.wikipedia.org/wiki/Star_catalogue">Star Catalogue</a></li>
        <li>Search for existing DSO's(deep-sky object) by name/type/constellation/description.</li>
        <li>Add new DSO's</li>
        <li>Update existing DSO's</li>
    </ul>
    <hr>

    <h3><u>Search</u></h3>
    <ul>
        <li>"Smart search"/Full-text Search with Elasticsearch</li>
        <li>Try searching for Android, Polaris, Hercules, 3C 249.1, etc.</li>
    </ul>

    <div border="1" class="container-fluid">
        <form action="#" th:action="@{/smartSearch/}" th:object="${searchPhrase}"
              method="POST">
            <input type="text" name="searchPhrase" required>
            <input type="submit" value="Search">
            <!--            <button class="btn btn-dark btn-outline-success" type="submit">Search</button>-->
        </form>
    </div>

    <hr>
    <h2> <u>Deep Sky Bodies</u> </h2>
    <a href="/showNewDeepSkyBodyForm" id="showNewDeepSkyBodyForm" class="btn btn-primary btn-sm mb-3"> Add DeepSkyBody </a>
    <a href="/"  class="btn btn-primary btn-sm mb-3"> Reset Filters </a>

    <table border="1" class = "table table-dark table-hover table-responsive-md">
        <thead>
        <tr>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=bodyName&sortDir=' + ${reverseSortDir}}">
                    Body Name</a>
            </th>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=otherName&sortDir=' + ${reverseSortDir}}">
                    Other Name</a>
            </th>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=bodyType&sortDir=' + ${reverseSortDir}}">
                    Body Type</a>
            </th>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=constellation&sortDir=' + ${reverseSortDir}}">
                    Constellation Name</a>
            </th>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=description&sortDir=' + ${reverseSortDir}}">
                    Description</a>
            </th>
            <th>
                <a th:href="@{'/page/' + ${currentPage} + '?sortField=notes&sortDir=' + ${reverseSortDir}}">
                    Notes</a>
            </th>
            <th> Actions </th>
        </tr>
        </thead>
        <tbody>
<!--        Iterate over the results with a forEach("th:each") -->
        <tr th:each="deepSkyBody : ${bodyList}">
            <td th:text="${deepSkyBody.bodyName}"></td>
            <td th:text="${deepSkyBody.otherName}"></td>
            <td th:text="${deepSkyBody.bodyType}"></td>
            <td th:text="${deepSkyBody.constellation}"></td>
            <td th:text="${deepSkyBody.description}"></td>
            <td th:text="${deepSkyBody.notes}"></td>
            <td> <a th:href="@{/showFormForUpdate/{id}(id=${deepSkyBody.id})}" class="btn btn-primary">Update</a>
                <a th:href="@{/deleteDeepSkyBody/{id}(id=${deepSkyBody.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

    <div th:if = "${totalPages > 1}">
        <div class = "row col-sm-10">
            <div class = "col-sm-2">
                Total Rows: [[${totalItems}]]
            </div>

            <div class = "col-sm-1">
					<span >
						<a>[[${currentPage}]]</a>
					</span>
            </div>

<!--            BUGGY PAGE ICONS-->
<!--            <div class = "col-sm-1">-->
<!--					<span th:each="i: ${#numbers.sequence(1, totalPages)}">-->
<!--						<a th:if="${currentPage != i && i < currentPage + 3 && i > currentPage - 3}" th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>-->
<!--						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;-->
<!--					</span>-->
<!--            </div>-->

            <div class = "col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
                <span th:unless="${currentPage < totalPages}">Next</span>
            </div>

            <div class="col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
                <span th:unless="${currentPage < totalPages}">Last</span>
            </div>
        </div>
    </div>
</div>
<footer th:insert="footer.html :: footer"></footer>
</body>
</html>