<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Star Dec: Create Body</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
  <!-- favicon -->
  <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}"/>
</head>
<body th:style="'background-image:url(' + @{/images/pillarsHuge.jpg} + ');background-size: auto;'">
<header th:insert="header.html :: header"></header>
<div class="container" style="background-color:white;">
  <h1>Deep Sky Body Creation</h1>
  <hr>
  <h2>Create Deep Sky Body</h2>

  <form action="#" th:action="@{/addNewDeepSkyBody}" th:object="${deepSkyBody}"
        method="POST">
    <a>Body Name</a>
    <input type="text" th:field="*{bodyName}" placeholder="Body Name" class="form-control mb-4 col-4" required>
    <a>Other Name(optional)</a>
    <input type="text" th:field="*{otherName}" placeholder="Other name" class="form-control mb-4 col-4">
    <a>Body Type</a>
    <input type="text" th:field="*{bodyType}" placeholder="Body Type" class="form-control mb-4 col-4" required>
    <a>Constellation</a>
    <input type="text" th:field="*{constellation}" placeholder="Constellation Name" class="form-control mb-4 col-4" required>
    <a>Description(optional)</a>
    <input type="text" th:field="*{description}" placeholder="Description" class="form-control mb-4 col-4">
    <a>Notes(optional)</a>
    <input type="text" th:field="*{notes}" placeholder="Notes" class="form-control mb-4 col-4">

    <button type="submit" class="btn btn-primary btn-sm mb-3"> Save Deep Sky Body</button>
  </form>

  <hr>

  <a th:href = "@{/}"> Back to Deep Sky Body List</a>
</div>
<footer th:insert="footer.html :: footer"></footer>
</body>
</html>